@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");
/* Main styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  color: #fff;
  background-color: #231656;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  transition: color 0.4s, background-color 0.6s;
  font-family: "Inter", sans-serif;
}

.btn:hover {
  color: #231656;
  background-color: #fff;
  border: 1px solid #231656;
}

.btn:active {
  box-shadow: none;
}

/* Nav panel styles */

.nav-panel {
  width: 330px;
  height: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 6;
  display: none;
  right: 0;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 25%);
}

.fi-rr-cross {
  font-size: 24px;
  color: #231656;
  transition: color 0.5s;
}

.fi-rr-cross:hover {
  color: #625ffb;
}

.fi-rr-cross:active {
  text-shadow: none;
}

#close-btn {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: 0.3rem;
  right: 0.2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}

.nav-panel form {
  width: auto;
}

.search {
  margin-top: 3rem;
  width: 250px;
  height: 42px;
  border: 1px solid #231656;
  border-radius: 20px;
  text-align: left;
  padding-left: 15px;
}

.search-button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: 3rem;
  right: 3rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}

.fi-rr-search {
  font-size: 16px;
  color: #231656;
  transition: color 0.5s;
}

.fi-rr-search:hover {
  color: #625ffb;
}

.fi-rr-search:active {
  text-shadow: none;
}

.category {
  list-style-type: none;
}

.category-li {
  margin-bottom: 16px;
  padding-bottom: 10px;
  padding-right: 3rem;
  padding-left: 3rem;
  text-align: left;
}

.category-link {
  font-family: "Inter", sans-serif;
  color: #231656;
  text-decoration: none;
  transition: color 0.5s;
}

.category-link:hover {
  color: #625ffb;
}

.buttons-nav-panel {
  align-self: flex-end;
  margin-bottom: 3rem;
}

.btn-nav {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 14px;
  width: 135px;
  height: 35px;
  color: #fff;
  background-color: #231656;
  border-radius: 20px;
  margin-right: 10px;
}

/* Header styles */

.container {
  width: 33%;
}

.container:nth-child(2) {
  width: auto;
}

.container:last-child {
  text-align: right;
  padding-right: 4rem;
}

header {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: #fff;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
}

.nav-bar-link {
  font-family: "Inter", serif;
  font-weight: 500;
  text-decoration: none;
  color: #231656;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  transition: color 0.5s;
}

.nav-bar-link:hover {
  color: #625ffb;
}

.logo {
  font-family: "Inter", serif;
  font-weight: 600;
  color: #231656;
  text-align: center;
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  transition: color 0.5s;
  width: min-content;
}

.logo:hover {
  color: #625ffb;
}

.logo-link {
  text-decoration: none;
  color: #231656;
  transition: color 0.5s;
}

.menu {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 16px;
  width: 100px;
  height: 35px;
  color: #fff;
  background-color: #231656;
  border-radius: 20px;
  margin-right: 10px;
}

i {
  vertical-align: middle;
  font-size: 24px;
}

.icart:active {
  text-shadow: none;
}

.icart {
  border: none;
  background-color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}

/* Promo Styles */

.promo {
  margin-top: 5.75rem;
  width: 90%;
  background-color: #625ffb;
  border-radius: 72px;
  height: 25rem;
  display: flex;
  justify-content: space-around;
  background: url("../img/IMG_6514.JPG") no-repeat center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  border: 1px solid #231656;
}

.promo-heading {
  float: left;
  color: #fff;
  font-family: "Jost", sans-serif;
  font-weight: 800;
  font-size: 49px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  align-self: center;
  text-transform: uppercase;
  margin-bottom: 10rem;
}

.promo-btn {
  width: 250px;
  height: 60px;
  color: #fff;
  background-color: #625ffb;
  border-radius: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 32px;
  align-self: flex-end;
  margin-bottom: 3.5rem;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}

.promo-btn:hover {
  border: 1px solid #625ffb;
  color: #625ffb;
  text-shadow: none;
  background-color: #fff;
}

/* Offers Styles */

.offers {
  width: 90%;
  margin-top: 1.5rem;
  margin-bottom: 7.5rem;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.offers-heading {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  font-family: "Jost", sans-serif;
  color: #231656;
  margin-top: 6rem;
}

/* Card Styles */

.card {
  flex-basis: 30%; /* Ширина карточек */
  box-shadow: 3px 6px 4px rgba(0, 0, 0, 25%);
  border: 1px solid #231656;
  border-radius: 10px;
  margin-top: 4rem;
  position: relative;
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card-text {
  font-family: "Open Sans";
  color: #fff;
  font-weight: 400;
}

.card .hover-desc {
  /*Настройка расположения блока и текста внутри него */
  width: 100%;
  height: 68.2%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card .hover-desc {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.card .hover-desc {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.35); /* Фон блока при наведении */
  color: #fff;
  transition: opacity 0.6s;
}

/*Размытие "Картинки"-Блока при наведении
  Не поддерживается в Safari*/
.hover-desc:hover {
  opacity: 1;
  backdrop-filter: blur(2px);
}

.card-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
}

.card-name {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: #231656;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}

.card-name h3 {
  text-align: left;
  padding-left: 20px;
}

.card-name:hover {
  text-decoration: underline;
}

.card-price {
  width: 30%;
  font-size: 1.375rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  color: #231656;
}

.in-cart {
  width: 80%;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  height: 40px;
  border-radius: 25px;
  margin-top: 1.5rem;
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
}

/* Footer Styles */

/*footer div {
   border: 1px solid #000;
}*/

footer {
  display: grid;
  grid-template: repeat(2, 0.6fr) repeat(3, 1fr) / 5% repeat(7, 1fr) 5%;
}

.newsletter {
  grid-area: 1 / 3 / 3 / 8;
  background-color: #625ffb;
  z-index: 2;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#email {
  border-radius: 25px;
  height: 2.5rem;
  width: 12.5rem;
  border: 1px solid #c4c4c4;
  margin-right: 1.5rem;
}

#submit-btn {
  height: 2.5rem;
  border-radius: 25px;
  width: 9.375rem;
  font-weight: 500;
  font-size: 1rem;
  vertical-align: m;
}

.newsletter-text {
  color: #fff;
  font-family: "Jost";
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

.footer-info {
  grid-area: 2 / 2 / 6 / 9;
  background-color: #f5f5f5;
  display: grid;
  grid-template: repeat(5, 1fr) 10% / 5% repeat(9, 1fr) 5%;
  border-radius: 30px;
}

.about {
  grid-area: 3 / 2 / 5 / 6;
  text-align: left;
  border-right: 2px solid #c4c4c4;
}

.footer-logo {
  text-align: left;
  margin-bottom: 1rem;
}

.about-text {
  text-align: left;
  width: 300px;
  margin-bottom: 1rem;
  font-family: "Open Sans";
  color: #4e4e4e;
  font-size: 0.85rem;
}

.social-media-link {
  text-decoration: none;
  color: #231656;
}

.social-media-link:hover {
  color: #625ffb;
}

.social-media-link:first-of-type {
  margin-right: 0.4rem;
}

.social-media-link i {
  font-size: 1rem;
}

.footer-nav {
  grid-area: 3 / 7 / 5 / 8;
}

.footer-heading {
  color: #231656;
  font-family: "Inter";
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  margin-bottom: 1rem;
  text-align: left;
}

.footer-nav-ul {
  list-style-type: none;
  line-height: 20px;
}

.footer-nav-li {
  text-align: left;
  font-family: "Open Sans";
  font-size: 0.85rem;
}

.footer-nav-link {
  color: #4e4e4e;
  text-decoration: none;
}

.footer-nav-link:hover {
  color: #625ffb;
}

.logo-link:hover {
  color: #625ffb;
}

.location {
  grid-area: 3 / 9 / 5 / 11;
  text-align: left;
}

.location-text {
  text-align: left;
  font-family: "Open Sans";
  font-size: 0.85rem;
  color: #4e4e4e;
  margin-bottom: 1.5rem;
}

.location i {
  font-size: 1rem;
  margin-right: 1rem;
}

.email {
  text-align: left;
  font-family: "Open Sans";
  font-size: 0.85rem;
  color: #4e4e4e;
}

.email-contact {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.phone-contact {
  display: inline-block;
}

.phone {
  text-align: left;
  font-family: "Open Sans";
  font-size: 0.85rem;
  color: #4e4e4e;
}

.copyright {
  grid-area: 6 / 6 / 7 / 7;
  font-family: "Open Sans";
  font-size: 0.85rem;
  color: #4e4e4e;
}

/* Policy Styles */

.policy {
  width: 85%;
  margin-top: 3rem;
}

.text {
  font-size: 16px;
  color: #4e4e4e;
  font-family: "Open Sans", sans-serif;
}

/* Sign Up Sign In Styles */

.modal-wrapper {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1001;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.auth-popup,
.sign-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 340px;
  padding-top: 40px;
  padding-bottom: 20px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 15px;
  z-index: 9;
}

.sign-popup {
  display: none;
}

.logo-auth {
  padding: 20px;
}

.auth-popup input,
.sign-popup input {
  outline: none;
  text-align: left;
  border: none;
}

.auth-popup textarea,
.sign-popup textarea {
  outline: none;
  border: none;
}

.auth-popup textarea:focus,
.auth-popup input:focus,
.sign-popup textarea:focus,
.sign-popup input:focus {
  border-color: transparent !important;
}
.auth-popup input:focus:-moz-placeholder,
.sign-popup input:focus:-moz-placeholder {
  color: transparent;
}
.auth-popup input:focus::-webkit-input-placeholder,
.sign-popup input:focus::-webkit-input-placeholder {
  color: transparent;
}
.auth-popup input:focus::-moz-placeholder,
.sign-popup input:focus::-moz-placeholder {
  color: transparent;
}
.auth-popup input:focus:-ms-input-placeholder,
.sign-popup input:focus:-ms-input-placeholder {
  color: transparent;
}

.auth-popup textarea:focus::-webkit-input-placeholder,
.sign-popup textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.auth-popup textarea:focus:-moz-placeholder,
.sign-popup textarea:focus:-moz-placeholder {
  color: transparent;
}
.auth-popup textarea:focus::-moz-placeholder,
.sign-popup textarea:focus::-moz-placeholder {
  color: transparent;
}
.auth-popup textarea:focus:-ms-input-placeholder,
.sign-popup textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.auth-popup input::-webkit-input-placeholder,
.sign-popup input::-webkit-input-placeholder {
  color: #adadad;
}
.auth-popup input:-moz-placeholder,
.sign-popup input:-moz-placeholder {
  color: #adadad;
}
.auth-popup input::-moz-placeholder,
.sign-popup input::-moz-placeholder {
  color: #adadad;
}
.auth-popup input:-ms-input-placeholder,
.sign-popup input:-ms-input-placeholder {
  color: #adadad;
}

.auth-popup textarea::-webkit-input-placeholder,
.sign-popup textarea::-webkit-input-placeholder {
  color: #adadad;
}
.auth-popup textarea:-moz-placeholder,
.sign-popup textarea:-moz-placeholder {
  color: #adadad;
}
.auth-popup textarea::-moz-placeholder,
.sign-popup textarea::-moz-placeholder {
  color: #adadad;
}
.auth-popup textarea:-ms-input-placeholder,
.sign-popup textarea:-ms-input-placeholder {
  color: #adadad;
}

/*---------------------------------------------*/
.auth-popup button,
.sign-popup button {
  outline: none !important;
  border: none;
  background: transparent;
}

.auth-popup button:hover,
.sign-popup button:hover {
  cursor: pointer;
}
.auth-popup iframe,
.sign-popup iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.auth-popup .txt1,
.sign-popup .txt1 {
  font-size: 14px;
  color: #4e4e4e;
  line-height: 1.5;
  font-family: "Open Sans";
}

.auth-popup .txt2,
.sign-popup .txt3 {
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  text-decoration: none;
  font-family: "Open Sans";
  transition: all 0.5s;
}

.sign-popup .txt4 {
  font-size: 14px;
  color: #999999;
  line-height: 1.5;
  text-decoration: none;
  font-family: "Open Sans";
  transition: all 0.5s;
}

.auth-popup .txt2:hover,
.sign-popup .txt3:hover,
.sign-popup .txt4:hover {
  color: #625ffb;
}

.sign-popup .text-center {
  padding-top: 20px;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.auth-popup .limiter,
.sign-popup .limiter {
  width: 100%;
  margin: 0 auto;
}

.auth-popup .container-login100,
.sign-popup .container-login100 {
  width: 80%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}

.auth-popup .wrap-login100,
.sign-popup .wrap-login100 {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/*------------------------------------------------------------------
[ Form ]*/

.auth-popup .login100-form,
.sign-popup .login100-form {
  width: 100%;
  display: flex;
  align-content: center;
  flex-flow: column wrap;
}

.auth-popup .login100-form-title,
.sign-popup .login100-form-title {
  display: block;
  font-family: "Inter", serif;
  font-size: 30px;
  color: #231656;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  transition: color 0.5s;
  padding-bottom: 26px;
}

.auth-popup .login100-form-title:last-of-type,
.sign-popup .login100-form-title:last-of-type {
  display: block;
  font-family: "Inter", serif;
  font-size: 20px;
  color: #231656;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  transition: color 0.5s;
  padding-bottom: 40px;
}
/*------------------------------------------------------------------
[ Input ]*/

/* div с полями ввода */
.auth-popup .wrap-input100,
.sign-popup .wrap-input100 {
  width: 75%;
  position: relative;
  border-bottom: 2px solid #000;
  margin-bottom: 25px;
}

.auth-popup .input100,
.sign-popup .input100 {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/
.auth-popup .focus-input100,
.sign-popup .focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: left;
  pointer-events: none;
}

.auth-popup .focus-input100::before,
.sign-popup .focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #625ffb;
}

.auth-popup .focus-input100::after,
.sign-popup .focus-input100::after {
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.auth-popup .input100:focus + .focus-input100::after,
.sign-popup .input100:focus + .focus-input100::after {
  top: -15px;
}

.auth-popup .input100:focus + .focus-input100::before,
.sign-popup .input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
.auth-popup .btn-show-pass,
.sign-popup .btn-show-pass {
  font-size: 15px;
  color: #999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.auth-popup .btn-show-pass:hover,
.sign-popup .btn-show-pass:hover {
  color: #625ffb;
}

.auth-popup .btn-show-pass.active,
.sign-popup .btn-show-pass.active {
  color: #625ffb;
}

/*------------------------------------------------------------------
[ Button ]*/
.auth-popup .container-login100-form-btn,
.sign-popup .container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5px;
}

.auth-popup .wrap-login100-form-btn,
.sign-popup .wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.auth-popup .login100-form-bgbtn,
.sign-popup .login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #231656;
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.auth-popup .login100-form-btn,
.sign-popup .login100-form-btn {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.auth-popup .wrap-login100-form-btn:hover .login100-form-bgbtn,
.sign-popup .wrap-login100-form-btn:hover .login100-form-bgbtn {
  background: #625ffb;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .auth-popup .wrap-login100,
  .sign-popup .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.auth-popup .validate-input,
.sign-popup .validate-input {
  position: relative;
}

.auth-popup .alert-validate::before,
.sign-popup .alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: "Jost", sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.auth-popup .alert-validate::after,
.sign-popup .alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.auth-popup .alert-validate:hover:before,
.sign-popup .alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .auth-popup .alert-validate::before,
  .sign-popup .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* FAQ Page Styles */

.faq {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.faq-box {
  width: 40%;
  margin-top: 3rem;
}

.faq-header {
  border: 1px solid #231656;
  border-top: none;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-content: center;
  align-items: center;
  overflow: hidden;
}
.faq-header-open {
  border-bottom: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); /* adjust this as necessary */
}

.faq-header:first-of-type {
  border-top: 1px solid #231656;
}

.faq-body {
  width: 100%;
  border: 1px solid #231656;
  border-top: none;
  position: relative;
  max-height: 0px; /* replace display: none */
  min-height: 0px;
  overflow: hidden; /* add this line */
  transition: max-height 0.8s ease-in-out;
}

.faq-heading {
  font-family: "Open Sans", sans-serif;
  color: #231656;
  font-weight: 500;
}

.faq-text {
  text-align: left;
  font-size: 16px;
  color: #4e4e4e;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
}

.faq-fi {
  vertical-align: middle;
  font-size: 24px;
  transform: rotate(45deg);
  padding-top: 5px;
  transition: transform 0.3s ease-in;
}

/*Product Page Styles*/

.product-layout {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}

.product-heading {
  margin-top: 6rem;
  color: #231656;
  font-family: "Jost", sans-serif;
  text-align: left;
  margin-bottom: 1rem;
  width: 80%;
}

.product-img {
  width: 35%;
  height: 400px;
}

.product-img img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  border: 1px solid #231656;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 25%);
}

.price-box {
  width: 25%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 5px 4px 10px 2px rgba(0, 0, 0, 25%),
    -5px -4px 10px 2px rgba(0, 0, 0, 25%);
}

.price-div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.price {
  color: #231656;
  font-family: "Inter", sans-serif;
  text-decoration: line-through;
  font-size: 28px;
}

.discounted-price {
  color: #231656;
  font-family: "Inter", sans-serif;
  font-size: 28px;
}

.purchase-form {
  width: 80%;
}

.upsell {
  font-family: "Open Sans", sans-serif;
  color: #4e4e4e;
  display: block;
  text-align: left;
}

.hidden-checkbox {
   display: none; /* Скрываем базовые чекбоксы */
 }
 
 /* Установите стили для иконок по умолчанию */
 .ficheck {
   /* Стили для чекбокса без галочки */
   font-size: 12px;
 }

 
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-name {
  font-family: "Open Sans", sans-serif;
  color: #4e4e4e;
  margin-bottom: 1rem;
  width: 75%;
  text-align: left;
}

.product-price {
  font-family: "Open Sans", sans-serif;
  color: #4e4e4e;
  margin-bottom: 1rem;
}

.final-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.final-price {
  font-family: "Open Sans", sans-serif;
  color: #4e4e4e;
  width: 50%;
  margin-bottom: 20px;
  text-align: right;
}

.btn-cart {
  color: #fff;
  background-color: #231656;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  transition: color 0.4s, background-color 0.6s;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 150px;
  height: 35px;
  border-radius: 20px;
}

.btn-cart:hover {
  color: #231656;
  background-color: #fff;
  border: 1px solid #231656;
}

.btn-cart:active {
  box-shadow: none;
}

.product-description {
  width: 80%;
  margin-bottom: 4rem;
}

.sub-product-heading {
  text-align: left;
  width: 40%;
  margin-bottom: 2rem;
  color: #231656;
  font-family: "Jost", sans-serif;
}

.product-description .text {
  text-align: left;
  width: 60%;
}

.same-products {
  width: 90%;
  position: relative;
}

.same-products .sub-product-heading {
  margin-left: 4.5rem;
}

.same-products-cards {
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  margin-left: 10px; /* Добавлен отступ слева для выравнивания от стрелки */
  margin-right: 45px;
}

.same-product-card {
  flex: 0 0 calc(25% - 60px);
  box-shadow: 3px 6px 4px rgba(0, 0, 0, 25%);
  border: 1px solid #231656;
  border-radius: 10px;
  position: relative;
  padding-bottom: 15px;
  height: 80%;
  margin: 10px;
  margin-right: 35px;
  margin-left: 35px;
}

.same-products-cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  background-color: #f5f5f5;
  overflow: hidden;
  position: relative;
  margin-bottom: 4rem;
  border-radius: 25px;
}

.same-products-cards-wrapper .same-products-cards {
  display: flex;
  width: max-content; /* Ширина равная сумме всех карточек */
  transition: transform 0.8s ease-in-out; /* Добавляем плавное перемещение при изменении transform */
}

.slider-prev-btn,
.slider-next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 0;
  font-size: 2rem;
}

.slider-prev-btn {
  left: 0;
}

.slider-next-btn {
  right: 0;
}

/* При фокусировке на карточке показываем стрелку "влево" */
.same-products-cards-wrapper:focus-within .slider-prev-btn {
  display: block;
}

.same-product-card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.same-product-card-text {
  font-family: "Open Sans";
  color: #fff;
  font-weight: 400;
  font-size: 12px;
}

.same-product-card .hover-desc {
  /*Настройка расположения блока и текста внутри него */
  width: 100%;
  height: 150px;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.same-product-card .hover-desc {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.same-product-card .hover-desc {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.35); /* Фон блока при наведении */
  color: #fff;
  transition: opacity 0.6s;
}

/*Размытие "Картинки"-Блока при наведении
   Не поддерживается в Safari*/
.hover-desc:hover {
  opacity: 1;
  backdrop-filter: blur(2px);
}

.same-product-card-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.same-product-card-name {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: #231656;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}

.same-product-card-name h3 {
  text-align: left;
  font-size: 16px;
}

.same-product-card-name:hover {
  text-decoration: underline;
}

.same-product-card-price {
  width: 30%;
  font-size: 16px;
  align-self: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
  color: #231656;
}

.same-product-in-cart {
  width: 80%;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  height: 30px;
  border-radius: 25px;
  margin-top: 1.5rem;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}
